@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Habibi:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-font-awesome-5-free: "Font Awesome 5 Free";
  --font-roboto: Roboto;
  --font-mulish: Mulish;
  --font-inter: Inter;
  --font-rubik: Rubik;
  --font-inherit: inherit;
  --font-sofia-sans: "Sofia Sans";
  --font-roboto-flex: "Roboto Flex";
  --font-pt-sans: "PT Sans";
  --font-poppins: Poppins;
  --font-habibi: Habibi;

  /* font sizes */
  --font-size-6xs: 4px;
  --font-size-5xs: 8px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 15.4px;
  --font-size-2xl: 16px;
  --font-size-3xl: 17px;
  --font-size-4xl: 18px;
  --font-size-5xl: 20px;
  --font-size-6xl: 21px;
  --font-size-7xl: 22px;
  --font-size-8xl: 23px;
  --font-size-9xl: 24px;
  --font-size-10xl: 26px;
  --font-size-11xl: 28px;
  --font-size-12xl: 29px;
  --font-size-13xl: 31px;
  --font-size-14xl: 32px;
  --font-size-15xl: 34px;
  --font-size-16xl: 36px;
  --font-size-17xl: 42px;
  --font-size-18xl: 50px;
  --font-size-19xl: 65px;
  --font-size-20xl: 72px;
  --font-size-21xl: 92px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #6f6f6f;
  --color-dimgray-200: #6b6b6b;
  --color-cornflowerblue-100: #a0adff;
  --color-cornflowerblue-200: #6674cc;
  --color-cornflowerblue-300: #0c8ce9;
  --color-cornflowerblue-400: #0071c2;
  --color-slateblue: #2a3cab;
  --color-black: #000;
  --color-gray-100: #fcfbfc;
  --color-gray-200: #fbfcf8;
  --color-gray-300: #949494;
  --color-gray-400: #888585;
  --color-gray-500: #818181;
  --color-gray-600: #7d7d7d;
  --color-gray-700: #7e7474;
  --color-gray-800: #262626;
  --color-gray-900: #0d0d0d;
  --color-gray-1000: rgba(255, 255, 255, 0);
  --color-royalblue-100: #797ef6;
  --color-royalblue-200: #4e5dc0;
  --color-whitesmoke-100: #f2f3f4;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: #f0f0f0;
  --color-whitesmoke-400: #ededed;
  --color-whitesmoke-500: rgba(245, 245, 245, 0.7);
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e7e7e7;
  --color-gainsboro-300: #d9d9d9;
  --color-darkgray-100: #9b9b9b;
  --color-darkgray-200: #9b9595;
  --color-snow-100: #fffcfc;
  --color-snow-200: #fdfafa;
  --color-darkslateblue-100: #283264;
  --color-darkslateblue-200: #003580;
  --color-silver-100: #c2c2c2;
  --color-silver-200: #bebebe;
  --color-silver-300: #bdbdbd;
  --color-aliceblue-100: #ebf3ff;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: #292d32;
  --color-green: #008009;
  --color-orange: #febb02;
  --color-mediumaquamarine: #60c3ad;
  --color-goldenrod: #fab432;
  --color-lightgray-100: #ced4da;
  --color-lightgray-200: #d1d1d1;
  --color-blueviolet: #7754f6;
  --color-dodgerblue: #0076d7;

  /* Gaps */
  --gap-8xs: 2px;
  --gap-7xs: 2.83px;
  --gap-6xs: 3.89px;
  --gap-5xs: 4px;
  --gap-4xs: 5.14px;
  --gap-3xs: 6px;
  --gap-2xs: 8px;
  --gap-xs: 10px;
  --gap-sm: 12px;
  --gap-md: 16px;
  --gap-lg: 28px;
  --gap-xl: 55.38px;
  --gap-2xl: 55.03px;
  --gap-3xl: 55.47px;
  --gap-4xl: 56.78px;
  --gap-5xl: 59.23px;
  --gap-6xl: 206.3px;
  --gap-7xl: 244.55px;

  /* Paddings */
  --padding-21xs: 0.671875px;
  --padding-20xs: 0.09375px;
  --padding-19xs: 1px;
  --padding-18xs: 2px;
  --padding-17xs: 3.140625px;
  --padding-16xs: 4px;
  --padding-15xs: 5px;
  --padding-14xs: 6px;
  --padding-13xs: 7.546875px;
  --padding-12xs: 8px;
  --padding-11xs: 8.453125px;
  --padding-10xs: 8.46875px;
  --padding-9xs: 9.03125px;
  --padding-8xs: 9px;
  --padding-7xs: 10px;
  --padding-6xs: 10.125px;
  --padding-5xs: 10.703125px;
  --padding-4xs: 11px;
  --padding-3xs: 11.734375px;
  --padding-2xs: 11.390625px;
  --padding-xs: 12px;
  --padding-sm: 14.5px;
  --padding-md: 15.390625px;
  --padding-lg: 16px;
  --padding-xl: 16.5px;
  --padding-2xl: 17.625px;
  --padding-3xl: 17.765625px;
  --padding-4xl: 18.21875px;
  --padding-5xl: 18.96875px;
  --padding-6xl: 19.53125px;
  --padding-7xl: 21px;
  --padding-8xl: 24px;
  --padding-9xl: 31.234375px;
  --padding-10xl: 32px;
  --padding-11xl: 33px;
  --padding-12xl: 33.625px;
  --padding-13xl: 43px;
  --padding-14xl: 76.125px;
  --padding-15xl: 153.0625px;
  --padding-16xl: 153.546875px;
  --padding-17xl: 201.15625px;
  --padding-18xl: 202.453125px;
  --padding-19xl: 315px;
  --padding-20xl: 342px;

  /* border radiuses */
  --br-11xs: 1.5px;
  --br-10xs: 2px;
  --br-9xs: 3px;
  --br-8xs: 3.75px;
  --br-7xs: 5.82px;
  --br-6xs: 5px;
  --br-5xs: 6.4px;
  --br-4xs: 7px;
  --br-3xs: 8px;
  --br-2xs: 8.4px;
  --br-xs: 10px;
  --br-sm: 12px;
  --br-md: 14px;
  --br-lg: 15px;
  --br-xl: 20px;
  --br-2xl: 28px;
  --br-3xl: 30px;
  --br-4xl: 37px;
  --br-5xl: 40px;
  --br-6xl: 72px;
  --br-7xl: 75px;
  --br-8xl: 95px;
  --br-9xl: 999px;
  --br-10xl: 1512px;
  --br-11xl: 9999px;
}
