.desktop-5-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 113px;
}
.about9,
.contact-us10,
.locate11 {
  position: absolute;
  top: 29.5px;
  left: 419px;
  display: inline-block;
  width: 123px;
  height: 53px;
}
.about9,
.contact-us10 {
  left: 554px;
  width: 120px;
  height: 49px;
}
.contact-us10 {
  left: 682px;
  width: 207px;
  height: 45px;
}
.hostel-hopper13 {
  display: inline-block;
  -webkit-text-stroke: 1px #4e5dc0;
}
.bunk-1-icon11,
.group-wrapper1582,
.group-wrapper1583,
.hostel-hopper13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 44px;
}
.bunk-1-icon11,
.group-wrapper1582 {
  top: 17px;
  left: 88px;
}
.bunk-1-icon11 {
  top: 11px;
  left: 24px;
  width: 50px;
  height: 50px;
}
.bunk-1-icon11,
.pngwing-1-icon11 {
  object-fit: cover;
}
.desktop-5-inner3,
.group-wrapper1540,
.group-wrapper1641,
.pngwing-1-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
.desktop-5-inner3,
.group-wrapper1540 {
  width: 339px;
}
.desktop-5-inner3 {
  top: 4.5px;
  left: 30px;
  font-size: var(--font-size-15xl);
  color: var(--color-slateblue);
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 489px;
  height: 65px;
}
.search-for-files6 {
  position: absolute;
  top: 20.55px;
  left: 32.94px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 364.58px;
  height: 23.9px;
}
.group-child16,
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 489px;
  height: 65px;
}
.group-child16 {
  top: 10.04px;
  left: 418.03px;
  width: 47.01px;
  height: 44.93px;
}
.search15 {
  position: absolute;
  top: 21px;
  left: 431px;
  letter-spacing: 0.02em;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-white);
}
.group-parent21 {
  position: absolute;
  top: 11.5px;
  left: 903px;
  width: 489px;
  height: 65px;
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.desktop-5-child15,
.lohia-hostel-1,
.lohia-hostel-2 {
  position: absolute;
  top: 132px;
  left: 30px;
  border-radius: var(--br-6xs);
}
.desktop-5-child15 {
  background-color: #f9f9f3;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1380px;
  height: 500px;
}
.lohia-hostel-1,
.lohia-hostel-2 {
  width: 465px;
  height: 315px;
  object-fit: cover;
}
.lohia-hostel-2 {
  left: 495px;
}
.lohia-hostel-3,
.lohia-hostel-4,
.lohia-hostel-5,
.lohia-hostel-6,
.lohia-hostel-7 {
  position: absolute;
  top: 132px;
  left: 960px;
  border-radius: var(--br-6xs);
  width: 225px;
  height: 157px;
  object-fit: cover;
}
.lohia-hostel-4,
.lohia-hostel-5,
.lohia-hostel-6,
.lohia-hostel-7 {
  top: 289px;
}
.lohia-hostel-4,
.lohia-hostel-5,
.lohia-hostel-6 {
  top: 132px;
  left: 1185px;
}
.lohia-hostel-5,
.lohia-hostel-6 {
  top: 290px;
}
.lohia-hostel-6 {
  top: 289px;
}
.lohia-hostels {
  position: absolute;
  top: 455px;
  left: 52px;
  font-size: var(--font-size-9xl);
  display: flex;
  font-family: var(--font-poppins);
  align-items: center;
  width: 196px;
  height: 38px;
}
.desktop-5-child16 {
  position: absolute;
  top: 492px;
  left: 55px;
  border-radius: var(--br-6xs);
  background-color: #339d3a;
  width: 36px;
  height: 24px;
}
.b2 {
  position: absolute;
  top: 497px;
  left: 62px;
  font-size: var(--font-size-xs);
  display: flex;
  font-family: var(--font-poppins);
  align-items: center;
  width: 21px;
  height: 14px;
}
.image-6-icon,
.image-7-icon {
  position: absolute;
  top: 493px;
  left: 91px;
  width: 171.5px;
  height: 21px;
  object-fit: cover;
}
.image-7-icon {
  top: 524px;
  left: 55px;
  width: 149.21px;
  height: 15px;
}
.desktop-5-child17 {
  position: absolute;
  top: 570px;
  left: 1161px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 160px;
  height: 35px;
}
.write-a-review {
  position: absolute;
  top: 580px;
  left: 1195px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-dodgerblue);
  display: flex;
  align-items: center;
  width: 134px;
  height: 12px;
}
.desktop-5-child18 {
  position: absolute;
  top: 570px;
  left: 1347px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid #eee;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
}
.like-icon {
  position: absolute;
  top: 578px;
  left: 1355px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.desktop-52 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
