.hostel-hopper3 {
  display: inline-block;
  -webkit-text-stroke: 1px #4e5dc0;
}
.bunk-1-icon2,
.group-wrapper315,
.hostel-hopper-frame,
.hostel-hopper3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 44px;
}
.bunk-1-icon2,
.group-wrapper315 {
  top: 17px;
  left: 88px;
}
.bunk-1-icon2 {
  top: 11px;
  left: 24px;
  width: 50px;
  height: 50px;
}
.bunk-1-icon2,
.pngwing-1-icon2 {
  object-fit: cover;
}
.group-wrapper276,
.pngwing-1-frame,
.pngwing-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
.group-wrapper276 {
  width: 339px;
}
.group-top {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-slateblue);
  font-family: var(--font-mulish);
}
